################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Team-Project.slnx
/Library/APIUpdater
/Library/Artifacts
/Library/Bee
/Library/BuildProfiles
/Library/BurstCache/JIT
/Library/PackageCache
/Library/PackageManager
/Library/ScriptAssemblies
/Library/Search
/Library/ShaderCache
/Library/StateCache/LayerSettings/9e
/Library/AnnotationManager
/Library/ArtifactDB
/Library/ArtifactDB-lock
/Library/BuildPlayer.prefs
/Library/BuildProfileContext.asset
/Library/BuildSettings.asset
/Library/EditorInstance.json
/Library/EditorOnlyScriptingSettings.json
/Library/EditorOnlyVirtualTextureState.json
/Library/EditorUserBuildSettings.asset
/Library/ilpp.pid
/Library/InspectorExpandedItems.asset
/Library/MonoManager.asset
/Library/SceneVisibilityState.asset
/Library/ScriptMapper
/Library/ShaderCache.db
/Library/SourceAssetDB
/Library/SourceAssetDB-lock
/Library/SpriteAtlasDatabase.asset
/Library/Style.catalog
/Library/UndoData.bin
/Library/UndoStack.bin
/.vsconfig
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp.csproj
/Logs
/Team-Project.slnx
/Temp
/Unity.AI.Navigation.csproj
/Unity.AI.Navigation.Editor.ConversionSystem.csproj
/Unity.AI.Navigation.Editor.csproj
/Unity.AI.Navigation.Updater.csproj
/Unity.Burst.CodeGen.csproj
/Unity.Burst.csproj
/UserSettings
/Unity.Burst.Editor.csproj
/Unity.CollabProxy.Editor.csproj
/Unity.Collections.CodeGen.csproj
/Unity.Collections.csproj
/Unity.Collections.Editor.csproj
/Unity.InputSystem.csproj
/Unity.InputSystem.DocCodeSamples.csproj
/Unity.InputSystem.ForUI.csproj
/Unity.InputSystem.TestFramework.csproj
/Unity.InternalAPIEditorBridge.ShaderGraph.Editor.csproj
/Unity.InternalAPIEngineBridge.004.csproj
/Unity.InternalAPIEngineBridge.RenderPipelines.Core.Editor.csproj
/Unity.InternalAPIEngineBridge.RenderPipelines.Core.Runtime.Shared.csproj
/Unity.Mathematics.csproj
/Unity.Multiplayer.Center.Common.csproj
/Unity.Multiplayer.Center.Editor.csproj
/Unity.PathTracing.Editor.csproj
/Unity.PathTracing.Runtime.csproj
/Unity.PerformanceTesting.csproj
/Unity.PerformanceTesting.Editor.csproj
/Unity.PlasticSCM.Editor.csproj
/Unity.PlasticSCM.Editor.Entities.csproj
/Unity.Rendering.LightTransport.Editor.csproj
/Unity.RenderPipeline.Universal.ShaderLibrary.csproj
/Unity.RenderPipelines.Core.Editor.csproj
/Unity.RenderPipelines.Core.Editor.Shared.csproj
/Unity.RenderPipelines.Core.Runtime.csproj
/Unity.RenderPipelines.Core.Runtime.Shared.csproj
/Unity.RenderPipelines.Core.ShaderLibrary.csproj
/Unity.RenderPipelines.GPUDriven.Runtime.csproj
/Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.csproj
/Unity.RenderPipelines.Universal.2D.Editor.Overrides.csproj
/Unity.RenderPipelines.Universal.2D.Runtime.csproj
/Unity.RenderPipelines.Universal.Config.Runtime.csproj
/Unity.RenderPipelines.Universal.Editor.csproj
/Unity.RenderPipelines.Universal.Runtime.csproj
/Unity.RenderPipelines.Universal.Shaders.csproj
/Unity.Rider.Editor.csproj
/Unity.Searcher.Editor.csproj
/Unity.ShaderGraph.Editor.csproj
/Unity.ShaderGraph.Utilities.csproj
/Unity.SurfaceCache.Runtime.csproj
/Unity.TextMeshPro.csproj
/Unity.TextMeshPro.Editor.csproj
/Unity.Timeline.csproj
/Unity.Timeline.Editor.csproj
/Unity.UnifiedRayTracing.Runtime.csproj
/Unity.VisualScripting.Core.csproj
/Unity.VisualScripting.Core.Editor.csproj
/Unity.VisualScripting.DocCodeExamples.csproj
/Unity.VisualScripting.Flow.csproj
/Unity.VisualScripting.Flow.Editor.csproj
/Assets/Scripts.meta
/Unity.VisualScripting.SettingsProvider.Editor.csproj
/Unity.VisualScripting.Shared.Editor.csproj
/Unity.VisualScripting.State.csproj
/Unity.VisualScripting.State.Editor.csproj
/Unity.VisualStudio.Editor.csproj
/UnityEditor.TestRunner.csproj
/UnityEditor.UI.Analytics.csproj
/UnityEditor.UI.csproj
/UnityEngine.TestRunner.csproj
/UnityEngine.UI.csproj
/Library/StateCache
/Library/EditorGridSettings.asset
/Library/EditorSnapSettings.asset
/Library/EditorToolsSettings.asset
/Library/expandedItems
/Library/LastSceneManagerSetup.txt
/Library/PreviousActionData.bin
/Library/PreviousActionStack.bin
/Library/UIElements/EditorWindows/UnityEditor.InspectorWindow.pref
/Library/UIElements/EditorWindows/UnityEditor.ProjectSettingsWindow.pref
/.vs/ProjectEvaluation/team-project.metadata.v10.bin
/.vs/ProjectEvaluation/team-project.projects.v10.bin
/.vs/ProjectEvaluation/team-project.strings.v10.bin
/.vs/ProjectEvaluation/team-project.metadata.v10.bin
/.vs/ProjectEvaluation/team-project.metadata.v10.bin
/.vs/ProjectEvaluation/team-project.projects.v10.bin
/.vs/ProjectEvaluation/team-project.strings.v10.bin
/.vs/ProjectEvaluation/team-project.metadata.v10.bin
/.vs/ProjectEvaluation/team-project.projects.v10.bin
/.vs/ProjectEvaluation/team-project.strings.v10.bin
/Backup/Team-Project.slnx
/UpgradeLog.htm
/.vs/Team-Project/CopilotIndices/18.7.1253.33689/CodeChunks.db
/.vs/Team-Project/CopilotIndices/18.7.1253.33689/SemanticSymbols.db
